<section class="footer">

    <h4>Contact Us</h4>
    <p>All our health services require appointments.We are available <br>from 8 AM to 8 PM Monday through Saturday</p>
  
     <div class="icons">
             <i class="fa fa-facebook"></i>
             <i class="fa fa-twitter"></i> 
             <i class="fa fa-instagram"></i> 
             <i class="fa fa-linkedin"></i>
             <p>Made with<i class="fa fa-heart-o"></i>by Ridmi Manarandi</p>
  </section>